.button {
    height: 50px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 #0077b6;
    border: 1.5px solid #0077b6;
    background-color: #0077b6;
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #fff;
    transition: 300ms;
    &:hover {
      background-color: #023e8a;
      border: 1px solid #fff;
    }
    &:focus {
        outline: 0;
      }   
    }
