.footer {
    height: 100px;
    background-color: #0a0a0b;
    border: 1px solid #212529;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    padding: 0 10%;
    .version {
        padding-left: 40px;
    }
}